@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,100&family=Oswald:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap');

/* formating Header Section */

.title {
    font-family: 'Oswald', sans-serif;
    display: flex;
    flex-direction: column;
    align-items:center;
    font-size: 180%;
    padding-top: 5%;
    background-color: #ffe7b2;
    border-radius: 4px;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
}
.subheader {
    font-size: 80%;
    font-family: 'Montserrat', sans-serif;
}

.author {
    display: flex;
    justify-content: flex-end;
}

.real-time {
    display:flex;
    justify-content: space-around; 
    padding-bottom: 5%;   
}
hr {
height: 5px;
min-width: 60%;
background-color: black;
}




/* Formating Main Chart*/

.main-chart {
    background-color: #f6b2ff;
    margin-top: 5%;
    border-radius: 5px;
}

.line {
    display:flex;
    justify-content:space-around;
    align-items: center;
    padding-top: 3%;
    font-family: 'Noto Sans', sans-serif;
}

.line input {
    min-width: 80%;
    height: 40px;
}

.present {
    background-color:#b3ffb3;
}

.past {
    background-color: #ffb3b3;
}

.future {
    background-color: whitesmoke;
}

#twelveAm {
    margin-bottom: 4%;
}


/*Formating Birthday Timer */
.timer-portion {
    font-size:120% ;
    display:flex;
    flex-direction: column;
    background-color: #b2c5ff;
    padding:10%;
    margin:5%;
    border: 10px solid black;
}
.birthday-input {
    display:flex;
    flex-direction: column;
    align-items: center;
}

#holder {
    display:flex;
    align-items:center;
}

.time-display {
    padding: 10%;
    align-self: center;
    font-weight:bold;

}